<h1>Character Concept Generator</h1>
<p local-class="subtitle">Generates random character concepts for the Starfinder RPG to inspire your characters and NPCs.</p>

<button
  title="magic, baby"
  local-class="generate-button"
  onclick={{action generate}}
  disabled={{noSourcesSelected}}
>
  Generate
</button>

<button
  title="magic, baby"
  local-class="clear-button"
  onclick={{action clear}}
  disabled={{not characters.length}}
>
  Clear
</button>

{{#each characters as |generatedContent|}}
  <div local-class="content">
    <div local-class="panel-header">
      <em>{{generatedContent.summary}}</em>
    </div>
    <div local-class="panel-body">
      <div><strong>Age</strong>: {{generatedContent.age}}</div>
      <div><strong>Alignment</strong>: {{generatedContent.alignment}}</div>
      <div><strong>Race</strong>: {{generatedContent.race}}</div>
      <div><strong>Class</strong>: {{generatedContent.class}}</div>
      <div><strong>Themes</strong>: {{generatedContent.themes}}</div>
      <div><strong>Profession</strong>: {{generatedContent.profession}}</div>
      <div><strong>Personality</strong>: {{generatedContent.personality}}</div>
    </div>
  </div>
{{/each}}
